[Desktop Entry]
Categories=GNOME;GTK;Utility
Comment=The MongoDB GUI
Exec=env MONGODB_COMPASS_TEST_LOG_DIR=/dev/null mongodb-compass --password-store="gnome-libsecret" --ignore-additional-command-line-flags %U
GenericName=MongoDB Compass Libsecret
Icon=mongodb-compass
MimeType=x-scheme-handler/mongodb;x-scheme-handler/mongodb+srv
Name=MongoDB Compass Libsecret
StartupNotify=true
Terminal=false
Type=Application
Version=1.5
