[Install]
WantedBy=default.target

[Unit]
Description=git-watch

[Service]
ExecStart=/usr/bin/git-watch /home/roy/notes
Type=simple
Restart=on-failure
