[Install]
WantedBy=multi-user.target

[Unit]
Description=git-watch

[Service]
ExecStart=/usr/bin/git-watch ~/notes
User=roy
Group=roy
Type=simple
Restart=on-failure
