window#osd {
  border-radius: 0;
  background: #292e42;
}

image,
label {
    color: #a9b1d6;
}

progressbar,
segmentedprogress {
    background: transparent;
}

trough,
segment {
    background: #16161e;
}

progress,
segment.active {
    background: #a9b1d6;
}
